<div class="nav">
  <div class="container d-flex justify-content-between align-items-center">
    <img src="/assets/Chesslogo.jpeg" alt="chesslogo" width="120px" height="120px">
    <h1>Woodpecker Tool</h1>
    <ul>
      <li>Menu 1</li>
      <li>Menu 2</li>
    </ul>
  </div>
</div>
